

.welcome {
  background-image: url('../imgs/wallpapers/banner.jpg');
  background-size: cover;
  /* height: 100vh; */
  background-position: center; /* Opcional: para centralizar a imagem */
  background-repeat: no-repeat; /* Opcional: para evitar repetição da imagem */
}
  
  .dev {
    background-image: url('../imgs/wallpapers/jpg/dev.jpg');
    background-image: -webkit-image-set(url('../imgs/wallpapers/webp/dev.webp') 1x)
  }
   

  .wall-servicos {
    background-image: url('../imgs/wallpapers/servicos.jpg');
    background-size: cover;
   
    background-position: center; /* Opcional: para centralizar a imagem */
    background-repeat: no-repeat; /* Opcional: para evitar repetição da imagem */
  }

  .wall-contato {
    background-image: url('../imgs/wallpapers/contato.jpg');
    background-size: cover;
   
    background-position: center; /* Opcional: para centralizar a imagem */
    background-repeat: no-repeat; /* Opcional: para evitar repetição da imagem */
  }