---
import Layout from "../layouts/Layout.astro";
---

<section id="" class="bg-cover bg-center welcome pb-20 h-screen">
  <Layout
    title="Desenvolvimento de Sistemas."
    url="/"
    metaImage="/static/logo/logo/logo.png"
  >
    <div class="flex flex-wrap justify-between pt-28 lg:pt-40">
      <div class="w-1/2">
        <div class="flex flex-wrap">
          <div
            class="relative overflow-hidden rounded-lg shadow-lg mx-auto lg:ml-20"
          >
            <div
              class="bg-black bg-opacity-30 backdrop-filter backdrop-blur-lg p-6"
            >
              <h1 class="text-2xl lg:text-4xl font-bold mb-4">
                Revolucionando e moldando o futuro<br />
                digital dos nossos clientes de forma<br />
                abrangente e personalizada.
                <br />
              </h1>
              <h2 class="text-md lg:text-xl">
                Juntos, desenvolvemos uma estratégia sob medida<br />
                para o sucesso contínuo no mercado de trabalho digital.
              </h2>
            </div>
          </div>
        </div>
        <div
          class="flex mt-12 pb-20 lg:pb-44 mx-auto lg:ml-20 text-center lg:text-left"
        >
          <div class="w-full">
            <div class="btn btn-info normal-case text-lg">Entre em contato</div>
          </div>
        </div>
      </div>
      <div class="w-1/2">
        <img
          width="400"
          height="400"
          class="mx-auto my-auto"
          src="/static/wallpapers/foguete.png"
          alt="Logo da infinity!"
        />
      </div>
    </div>
  </Layout>
  <a href="/#servicos">
    <div
      class="flex animate-bounce mx-auto text-center py-22 mt-24 p-24 max-h-full"
    >
      <div class="w-full cursor-pointer">
        <i class="text-white text-3xl fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </a>
</section>

<section id="servicos" class="wall-servicos bg-black bg-opacity-30 py-12 px-40">
  <div class="flex justify-center">
    <div class="w-full">
      <h2 class="text-5xl text-center">Serviços / Produtos</h2>
    </div>
  </div>
  <div class="flex py-20">
    <div class="w-1/3">
      <div
        class="card card-compact mx-auto w-96 shadow-xl border bg-black bg-opacity-30 backdrop-filter backdrop-blur-lg"
      >
        <div class="card-body">
          <i class="text-6xl py-3 text-center fa-solid fa-bullseye"></i>
          <h2 class="text-2xl text-center">Social Media</h2>

          <div class="card-actions justify-center py-4">
            <button class="btn btn-info rounded-full">Serviço</button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/3">
      <div
        class="card card-compact mx-auto w-96 shadow-xl border bg-black bg-opacity-30 backdrop-filter backdrop-blur-lg"
      >
        <div class="card-body">
          <i class="text-6xl py-3 text-center fa-solid fa-rocket"></i>
          <h2 class="text-2xl text-center">Marketing Digital</h2>

          <div class="card-actions justify-center py-4">
            <button class="btn btn-info rounded-full">Serviço</button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/3">
      <div
        class="card card-compact mx-auto w-96 shadow-xl border bg-black bg-opacity-30 backdrop-filter backdrop-blur-lg"
      >
        <div class="card-body">
          <i class="text-6xl py-3 text-center fa-solid fa-laptop-code"></i>
          <h2 class="text-2xl text-center">Desenvolvimento Web</h2>

          <div class="card-actions justify-center py-4">
            <button class="btn btn-info rounded-full">Serviço</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex py-20">
    <div class="w-1/3">
      <div
        class="card card-compact mx-auto w-96 shadow-xl border bg-black bg-opacity-30 backdrop-filter backdrop-blur-lg"
      >
        <div class="card-body">
          <img
            width="40"
            height="40"
            class="mx-auto my-auto py-3"
            src="/static/logo/logo-branco.png"
            alt="Logo da infinity!"
          />

          <h2 class="text-2xl text-center">Branding Design</h2>

          <div class="card-actions justify-center py-4">
            <button class="btn btn-info rounded-full">Serviço</button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/3">
      <div
        class="card card-compact mx-auto w-96 shadow-xl border bg-black bg-opacity-30 backdrop-filter backdrop-blur-lg"
      >
        <div class="card-body">
          <i class="text-6xl py-3 text-center fa-solid fa-clapperboard"></i>
          <h2 class="text-2xl text-center">Film Maker</h2>

          <div class="card-actions justify-center py-4">
            <button class="btn btn-info rounded-full">Serviço</button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/3">
      <div
        class="card card-compact mx-auto w-96 shadow-xl border bg-black bg-opacity-30 backdrop-filter backdrop-blur-lg"
      >
        <div class="card-body">
          <i class="text-6xl py-3 text-center fa-regular fa-file-zipper"></i>
          <h2 class="text-2xl text-center">Pack de Criativos</h2>

          <div class="card-actions justify-center py-4">
            <button class="btn btn-warning rounded-full">Produto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="clientes" class="bg-black">
  <div class="py-20 px-44">
    <div class="flex justify-center">
      <div class="w-full">
        <h2 class="text-5xl text-center">Clientes</h2>
      </div>
    </div>

    <div class="flex">
      <div class="w-full my-40">
        <div class="carousel rounded-box flex justify-between">
          <div class="carousel-item">
            <img src="/static/clientes/suns.png" alt="suns" />
          </div>
          <div class="carousel-item">
            <img src="/static/clientes/rec.png" alt="rec" />
          </div>
          <div class="carousel-item">
            <img src="/static/clientes/sky.png" alt="sky" />
          </div>
          <div class="carousel-item">
            <img src="/static/clientes/pizza.png" alt="pizza" />
          </div>
          <div class="carousel-item">
            <img src="/static/clientes/burger.png" alt="Burger" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="quemsomos" class="bg-black">
  <div class="py-20 px-44">
    <div class="flex justify-center">
      <div class="w-full">
        <h2 class="text-5xl text-center">Quem somos</h2>
      </div>
    </div>

    <div class="flex">
      <div class="w-full my-20">
        <p class="text-2xl my-6">
          Compreendemos a sua busca por excelência digital, e a Infinity
          Business é a resposta. Somos uma equipe altamente competente e prontos
          para elevar a sua marca à um patamar superior.
        </p>

        <p class="text-2xl my-6">
          O que nos diferencia é o nosso compromisso inabalável com a qualidade
          e resultados reais. Cada projeto que empreendemos é moldado com uma
          abordagem estratégica única, adaptada às suas metas e necessidades.
          Nossa equipe de especialistas é incansável na busca pela inovação e
          excelência criativa. Combinamos habilidades técnicas com visão
          artística para criar soluções que cativam e envolvem o seu público.
        </p>

        <p class="text-2xl my-6">
          O nosso sucesso está intrinsecamente ligado ao seu sucesso. Assumimos
          a responsabilidade de ajudar a sua marca a se destacar em um mercado
          competitivo e a prosperar na era digital. Estamos ansiosos para criar
          algo incrível juntos.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contato" class="bg-black">
  <div class="py-12 px-44">
    <div class="flex justify-center">
      <div class="w-full">
        <h2 class="text-5xl text-center">Contato</h2>
      </div>
    </div>

    <div class="w-full my-20">
      <div class="flex justify-between my-40">
        <div class="w-1/2 text-2xl pr-12">
          <div class="flex">
            <div class="w-full">
              <i class="fa-solid fa-user-group text-7xl"></i>
              <p>
                Deixe-nos ajudar a traçar uma estratégia personalizada que
                impulsione o seu sucesso online.
              </p><br />

              <p>
                Juntos, vamos transformar suas metas em resultados tangíveis.
              </p>

              <p>Vamos começar essa jornada de sucesso hoje mesmo?</p>
            </div>
          </div>
          <div class="flex flex-wrap mt-6 justify-between">
            <div class="w-1/3">
              <i class="text-4xl fa-brands fa-facebook-f"></i>
            </div>
            <div class="w-1/3">
              <i class="text-4xl fa-brands fa-instagram"></i>
            </div>
            <div class="w-1/3">
              <i class="text-4xl fa-brands fa-whatsapp"></i>
            </div>
          </div>
        </div>
      
    <div class="w-1/2 pl-12 text-2xl">
      <p>
        Preencha o formulário abaixo e solicite o contato de um de nossos
        especialista.
      </p>
      <form class="form-control w-full">
        <input
          class="input input-bordered w-full bg-white my-2"
          type="text"
          placeholder="Nome*:"
        />
        <input
          class="input input-bordered w-full bg-white my-2"
          type="text"
          placeholder="Empresa*:"
        />
        <input
          class="input input-bordered w-full bg-white my-2"
          type="text"
          placeholder="Whatsapp*:"
        />
        <input
          class="input input-bordered w-full bg-white my-2"
          type="text"
          placeholder="Mensagem*:"
        />
      </form>
    </div>
  </div>
</section>
