---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portfolio."
  url="/portfolio"
  metaImage="/static/logo/png/alvitre.png"
>
  <h1 class="text-2xl text-center my-8">Sites desenvolvidos</h1>

  <div id="portfolioimages" class="flex flex-wrap flex-portfolio m-4"></div>

  <script>
    import port from "../assets/scripts/port";
    port();
  </script>
</Layout>
